@import "./../../constants.scss";

.Select {
  display: block;
  margin-right: 0;
  margin-left: 0;
  position: relative;
  z-index: 900;

  &Block {
    display: flex;
    padding: 12px 14px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $accent;
    border-radius: 8px;
    background: $white;
    transition: all .2s ease;
    font-size: 18px;
    font-weight: 600;
    color: $accent;
    text-transform: uppercase;

    outline: 0;

    &:focus {
      outline: 0;
    }

    &Open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid $line;
    }
  }

  &SelectList {
    position: absolute;
    background: white;
    top: 108%;
    display: none;
    min-width: 100%;

    &Open {
      display: block;
      overflow: auto;
      max-height: 200px;
      min-width: 100%;
      margin-top: -4px;
      border: 1px solid $accent;
      border-top-style: none;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: $white;
      color: $accent;
    }
  }

  &SelectItem {
    display: flex;
    padding: 12px 14px;
    justify-content: space-between;
    align-items: center;
    transition: all .2s ease;
    color: $accent;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;

    border: none;
    background: $white;
    outline: 0;

    &:focus {
      outline: 0;
    }
  }
}