@import "./../../constants.scss";

.input {
  margin: 0 0 20px 0;
  label {
    display: block;
    font-weight: 500;
    font-size: 1rem;
    margin: 0 0 8px 0;
    padding: 0 0 0 5px;
    letter-spacing: 0.0267rem;
    color: $text;
    font-family: inherit;
    text-align: left;
  }
  input {
    background: $white;
    border: 1px solid $line;
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    &::placeholder {
      color: $grey;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.374px;
      font-family: inherit;
    }
    &:hover {
      box-shadow: 0px 4px 10px rgba(77, 77, 77, 0.13);
    }
    &:focus {
      border: 1px solid $accent;
    }
  }
}

.input_error {
  margin: 0 0 20px 0;
  label {
    display: block;
    font-weight: 500;
    font-size: 1rem;
    margin: 0 0 8px 0;
    padding: 0 0 0 5px;
    letter-spacing: 0.0267rem;
    color: $text;
    font-family: inherit;
    text-align: left;
  }
  input {
    background: $white;
    border: 1px solid $exit;
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    &::placeholder {
      color: $grey;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.374px;
      font-family: inherit;
    }
    &:hover {
      box-shadow: 0px 4px 10px rgba(77, 77, 77, 0.13);
    }
    &:focus {
      border: 1px solid $accent;
    }
  }
}
