.UsersHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &ActionBlock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 32px 0;
  }
}