@import "./../../constants.scss";

.header {
  background-color: $card;
  padding: 28px 5px;
  &__title {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.374px;
    color: $text;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__actionBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
