@import "./../../constants.scss";

.CardBack {
  width: fit-content;
  padding: 8px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  background: $card;
  color: $accent;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 12px;
  margin-top: 12px;

  transition: opacity 0.3s linear;

  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}