.FilterDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &Block {
    width: auto;
  }

  &Button {
    width: 24px;
    height: 24px;
    border: none;
    outline: 0;
    background: none;

    &:focus {
      outline: 0;
    }
  }

  &Svg {
    width: 100%;
    height: 100%;
    fill: #BAC1C8;

    transition: fill 0.3s ease;

    &:hover {
      fill: #5CA5FA;
    }

    &Active {
      fill: #5CA5FA;
    }
  }
}