.SearchSvg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  fill: #BAC1C8;

  transition: fill 0.2s linear;

  &Active {
    fill: #5ca5fa;
  }
}