.Charge {
  width: 100%;
  display: flex;
  align-items: center;

  &Text {
    font-size: 16px;
    font-weight: 400;
    color: #525358;
    word-break: unset;
  }

  svg {
    margin-right: 12px;
  }
}