.CheckBox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background: none;
  outline: 0;
  border: none;

  &:focus {
    outline: 0;
  }

  &Small {
    width: 13px;
    height: 13px;
  }

  &Box {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #E4EAF0;
    border-radius: 3px;
    transition:  0.3s ease;

    &Dark {
      border-color: #BAC1C8;
    }

    &:hover {
      border-color: #5CA5FA;
    }

    &Small {
      width: 14px;
      height: 14px;
      border-width: 2px;
    }

    svg {
      fill: none;
    }
  }

  &Checked {
    .CheckBoxBox {
      border-color: #5CA5FA
    }

    .CheckBoxBox svg {
      fill: #5CA5FA;
    }
  }
}