.tooltip {
  border-radius: 8px;
  background: #F7F9FB;
  color: #fff;
  padding: 8px 15px;
  text-align: center;

  &Title {
    font-family: "SF Pro Text", sans-serif;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 2px;
    color: #525358;
  }

  &Temp {
    font-family: "SF Pro Text", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #E38888;
  }
}

.ChartsHeight {
  min-height: 385px;
}