.Dropdown {
  right: -20px;
  top: 108%;
  position: absolute;
  min-width: 180px;
  display: none;
  z-index: 1000;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px #4D4D4D21;

  &Open {
    display: block;
  }

  &Header {
    padding: 12px 16px;
    border-bottom: 1px solid #E4EAF0;
  }

  &Text {
    font-size: 14px;
    font-weight: 400;
    color: #525358;
  }

  &Nav {
    padding-top: 16px;
    padding-left: 17px;
  }

  &Margin {
    margin-left: 9px;
    margin-top: -1px;
  }

  &Item {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    outline: 0;
    cursor: pointer;
    padding-bottom: 14px;

    &:focus {
      outline: 0;
    }
  }
}

.DropdownSearch {
  right: 0px;
  width: 100%;
  top: 108%;
  position: absolute;
  min-width: 180px;
  display: none;
  z-index: 1000;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px #4D4D4D21;

  &Open {
    display: block;
  }

  &Header {
    padding: 12px 16px;
    border-bottom: 1px solid #E4EAF0;
  }

  &Text {
    font-size: 16px;
    font-weight: 400;
    color: #525358;
  }

  &Nav {
    display: flex;
    flex-direction: column;
    padding: 12px 17px;
  }

  &Margin {
    margin-left: 9px;
    margin-top: -1px;
  }

  &Item {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    outline: 0;
    cursor: pointer;
    padding-bottom: 14px;

    &:last-child {
      padding-bottom: 0px;
    }

    &:focus {
      outline: 0;
    }
  }
}