@import "./../constants.scss";

.Empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  &Block {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &Img {
      width: 145px;
      height: 145px;
      margin: 0 0 50px 0;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &Text {
      font-size: 16px;
      letter-spacing: 0.374px;
      color: $grey;
      margin: 0 0 50px 0;
      line-height: 24px;
    }
  }
}