.Margin {

  &Bottom24{
    margin-bottom: 24px;
  }

  &Top24 {
    margin-top: 24px;
  }

  &Top40 {
    margin-top: 40px;
  }

  &Bottom16 {
    margin-bottom: 16px;
  }

  &Bottom40 {
    margin-bottom: 40px;
  }

  &Bottom64 {
    margin-bottom: 64px;
  }
}