.Skeleton {
  width: 100%;
  height: 32px;

  color: transparent;
  display: block;
  background: #F7F9FB;
  border-radius: 2px;

  &Height24 {
    height: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  * {
    visibility: hidden;
  }

  &Wave {
    position: relative;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    &::after {
      animation: wave 1.5s linear 0s infinite;
      background: linear-gradient(
                      90deg,
                      transparent,
                      rgba(255, 255, 255, 0.7),
                      transparent
      );
      content: '';
      position: absolute;
      transform: translate3d(-100%, 0, 0);
      will-change: transform;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
  }
}

@keyframes wave {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  60% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}