.TableText {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #525358;

  &Center {
    text-align: center;
  }

  &Break {
    word-break: break-word;
  }

  &Title {
    font-size: 18px;
    font-weight: 600;
  }
}