@import "./../../../constants.scss";

.DeviceStatusItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  padding-right: 16px;
  height: 40px;
  background: $card;

  &:first-child {
    padding-left: 16px;
    border-radius: 4px 0px 0px 4px;
  }

  &:last-child {
    border-radius: 0px 4px 4px 0px;
  }

  &:last-child  .DeviceStatusItemLine {
    display: none;
  }

  &Line {
    height: 25px;
    width: 1px;
    background: $line;
    margin-left: 16px;
  }
}