@import "./../../../styles/constants.scss";

.UsersChooseText {
  display: flex;
  align-items: center;

  &Text {
    font-size: 14px;
    font-weight: 400;
    margin-right: 32px;
    color: $text;
  }
}