.UsersFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;

  &DynamicText {
    display: flex;
    align-items: center;
  }

  &PaginationBlock {
    display: flex;
    align-items: center;
  }
}