.Modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: none;
  background-image: none;

  &Active {
    display: block;
  }

  &Flex {
    background: rgba(82, 83, 88, 0.6);
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &Window {
    overflow: visible !important;
    position: relative;
    width: 366px;
    padding: 27px 24px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 11.61887264251709px 124.27999877929688px 0px #122D6C2B;
    transition: transform 1s ease 0s;
  }
}