.Cell {
  position: relative;
  padding: 20px 20px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #525358;
  cursor: default;
  border-right: 1px solid #E4EAF0;
  line-height: initial;
  overflow: hidden;
  white-space:normal ;
  text-overflow: ellipsis;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  & span {
    font-size: 18px;
    font-weight: 600;
  }

  &Checkbox {
    padding: 20px 26px;
  }

  &Id {
    padding: 20px 28px;
  }

  &Dropdown {
    overflow: initial;
  }

  &:last-child {
    border-right: none;
  }
}