.GridTable {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  align-items: center;
  grid-column-gap: 0;
  grid-row-gap: 0;
  -ms-grid-columns: 10fr auto auto auto auto;
  grid-template-columns: 10fr auto auto auto auto;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;

  &Six {
    -ms-grid-columns: 72px 4fr 3fr 2fr 1fr 72px;
    grid-template-columns: 72px 4fr 3fr 2fr 1fr 72px;
  }
  &Three {
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
  }
}