.Row {
  width: 100%;
  border-top: 1px solid rgba(228,234,240,1);
  border-left: 1px solid rgba(228,234,240,1);
  border-right: 1px solid rgba(228,234,240,1);

  &BorderRadiusTop {
    border-radius: 10px 10px 0 0;
  }

  &BorderRadiusBottom {
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid rgba(228,234,240,1);
  }

  &DarkBackground {
    background: #F7F9FB;
  }

  &Link {
    width: 100%;
    cursor: pointer;
  }

  &RowLink {
    text-decoration: none;
    cursor: pointer;
    width: 100%;

    transition: box-shadow 0.3s linear;

    &:hover {
      text-decoration: none;
      box-shadow: 0px 4px 10px rgba(77, 77, 77, 0.13);
    }
  }
}