@import "./../../constants.scss";

.search {
  position: relative;
  background: $white;
  border-radius: 4px;
  width: 420px;
  display: flex;
  align-items: center;
  margin-right: 40px;
  &__img {
    margin: 0 12px 0 0;
  }

  &Input {
    width: 100%;
    line-height: 24px;
    font-size: 18px;
    padding: 12px 46px;
    background: $white;
    border-radius: 4px;
    border: 1px solid $line;

    transition: border 0.2s linear;
    &:focus {
      border: 1px solid $accent;

      .SearchSvg {
        fill: $accent;
      }
    }

    &Active {
      border: 1px solid $accent;
    }

    &::placeholder {
      color: #bac1c8;
      font-weight: 400;
      font-size: 18px;
    }
  }
}

.clear {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: 0;

  &:focus {
    outline: 0;
  }
}
