@import "./../../../styles/constants.scss";

.button {
  background-color: $accent;
  width: 450px;
  border-radius: 8px;
  border: none;
  padding: 12px 5px;
  color: $card;
  font-size: 1.28rem;
  font-weight: 600;

  transition: opacity 0.2s linear;
  &:hover,
  &:disabled {
    opacity: 0.5;
  }

  &:disabled {
    cursor: default;
  }

  &Confirm {
    width: 100%;
    background-color: $accent;
    border-radius: 8px;
    border: none;
    padding: 12px 16px;
    font-size: 14px;
    color: $white;
    font-weight: 500;
    text-align: center;
  }

  &Cancel {
    width: 100%;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $grey;
    cursor: pointer;
    padding: 12px 16px;
    font-size: 14px;
    color: $grey;
    font-weight: 500;
    text-align: center;
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }
}
