@import "./../../../styles/constants.scss";

.ButtonLogout {
  background: $exit;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-left: 16px;
  cursor: pointer;
  transition: opacity 0.2s linear;

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: 0.8;
  }
}