@import "./../../../styles/constants.scss";

.ButtonLink {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: $accent;
  color: $accent;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;

  transition: text-decoration 0.2s linear;


  &:focus {
    outline: 0;
  }

  &:hover {
    text-decoration: none;
  }
}