@import "./../../constants.scss";

.TrashBtn {
  width: 48px;
  height: 48px;
  border: 1px solid $line;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;

  &Active {
    border-color: $accent;
  }

  &:disabled {
    border: 1px solid $line;
    cursor: not-allowed;
  }
}