@import "./../../constants.scss";

.login {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .error {
    margin: -10px 0 20px 5px;
    text-align: left;
    color: red;
  }
  &__logo {
    margin: 0 0 0 0;
    img {
      width: 100px;
      height: 100px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: 0.374px;
    color: #525358;
    margin: 0 0 30px 0;
  }
  .account {
    text-align: left;
    margin: 0 0 20px 0;
    padding: 0 0 0 5px;
    a {
      color: $accent;
      border-bottom: 1px solid $accent;
      &:hover {
        opacity: 0.5;
        border: 0;
      }
      &:active {
        color: $line;
      }
    }
  }
  .agreement {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0 0 30px 0;
    &__text {
      margin: 0 0 0 10px;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.374px;
      color: $grey;
      a {
        color: $accent;
        border-bottom: 1px solid $accent;
        &:hover {
          opacity: 0.5;
          border: 0;
        }
        &:active {
          color: $line;
        }
      }
    }
  }
}
