@import "./../../constants.scss";

.notFound {
  width: 26%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__img {
    margin: 0 0 50px 0;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.374px;
    color: $grey;
    margin: 0 0 25px 0;
  }
  &__text {
    font-size: 16px;
    letter-spacing: 0.374px;
    color: $grey;
    margin: 0 0 50px 0;
    line-height: 24px;
  }
  &__button {
    cursor: pointer;
    display: block;
    max-width: 160px;
    margin: 0 auto;
    background: $accent;
    padding: 5px;
    border: 1px solid $accent;
    border-radius: 8px;
    transition: opacity 0.2s linear;
    &:hover {
      opacity: 0.5;
    }
    span {
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      line-height: 40px;
      letter-spacing: 0.374px;
      color: $card;
      padding: 0 0 0 30px;
      background: url("~/static/images/icons/arrow.png") 0 50%/ 20px 14px no-repeat;
    }
  }
}
